The requirements for this project are the following libraries: requests, json, collections and bs4. From the collections library we only use the defaultdict method and from the bs4 we use BeautifulSoup. All dependencies can be installed with the pip install command in a virtual environment.
